section.forgotpassword {
  text-align: right;
}
section.forgotpassword p {
  font-size: 20px;
  color: #444;
  text-align: center;
  margin: 10px;
}
section.forgotpassword button#forgotBtn {
  padding: 12px;
  background: #24ccf0;
  border: 1px solid #EEE;
  border-radius: 10px;
  cursor: pointer;
  width: 180px;
  color: #FFF;
  font-weight: bold;
  transition: all 200ms ease-in-out;
}
@media (max-width: 575px) {
  section.forgotpassword button#forgotBtn {
    width: 100px;
    font-size: 12px;
  }
}
section.forgotpassword button#forgotBtn:hover {
  background: #1ea6c5;
}
